version: "2.4"
services:
  discovery:
    image: cloud-training-demo/discovery
    environment:
      - spring.profiles.active=docker
    ports:
      - "8761:8761"
    mem_limit: 512M
  user-service:
    image: cloud-training-demo/user
    environment:
      - spring.profiles.active=docker
    ports:
      - "8091-8099:8090"
    mem_limit: 512M
    depends_on:
      - discovery
      - postgres
  note-service:
    image: cloud-training-demo/note
    environment:
      - spring.profiles.active=docker
    ports:
      - "8031-8039:8030"
    mem_limit: 512M
    depends_on:
      - discovery
      - postgres
      - user-service
  ui:
    image: cloud-training-demo/ui
    ports:
      - "80:80"
      - "443:443"
    mem_limit: 128M
    volumes:
      - ./ui/docker/default.conf/:/etc/nginx/conf.d/default.conf
    depends_on:
      - note-service
  postgres:
    image: postgres:11-alpine
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    mem_limit: 256M
    volumes:
      - ./docker/postgres/:/docker-entrypoint-initdb.d/
  pgadmin:
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=user@domain.com
      - PGADMIN_DEFAULT_PASSWORD=user
    ports:
      - "8000:80"
    volumes:
      - ./docker/pgadmin/servers.json:/pgadmin4/servers.json
    mem_limit: 256M
  portainer:
    image: portainer/portainer
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --no-auth
    mem_limit: 128M