<h1>Notes</h1>
<button mat-fab color="accent" (click)="onCreateNote()">
  <mat-icon>add</mat-icon>
</button>

<div class="note-container">

  <div *ngIf="notes?.length === 0">
    <h3>You do not have any notes</h3>
  </div>

  <mat-card *ngFor="let note of notes">
    <mat-card-content>
      <h4>{{note.title}}</h4>
      <p>{{note.description}}</p>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-button color="primary" (click)="onEditNote(note)">EDIT</button>
        <button mat-button color="warn" (click)="onDeleteNote(note)">DELETE</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>

</div>
